<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippet saver</title>
    <link rel="stylesheet" href="//bootswatch.com/readable/bootstrap.css">
    <link rel="stylesheet" href="//bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>
