html{
    height: 100%;
}

body{
    padding-top:48px;
    height: 100vh;
}

.navbar-nav .btn-link {
    padding-top:15px;
    padding-bottom: 15px;
    line-height: 20px;
    text-decoration: none;
    color:#999;
}
.navbar-nav .btn-link:hover {
    color:#fff;
}

.login-form{
    float: right;
}

.username{
    height: 15px;
    width: 90px;
}

.password{
    height: 15px;
    width: 90px;
}

.login-button{
    height: 20px;
    font-size: 10px;
    float: left;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

textarea{
    width: 700px;
    height: 500px;
}

