body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.logo{
    height: 70px;
}

.login-form{
    float: right;
    margin-right: 3%;
    color: black;
}

.username{
    height: 15px;
    width: 90px;
}

.password{
    height: 15px;
    width: 90px;
}

.login-button{
    height: 20px;
    font-size: 10px;
    float: left;
}


.register{
    float:right;
    margin-top:30%;
    position: relative;

}

.row{
    margin-right: 0;
    margin-left: 0;
}



#flash{
    margin-top: 1%;
    margin-left: 40%;
}

.row{
    margin:20%;
    margin-top: 5%;
}

.show-snippet{
    border: ridge 2px;
    padding: 5px;
    min-height: 20em;
    overflow: auto;
}

.create-login, .form-create{
    width: 50%;
    margin-left: 20%;
}

.container-create{
    margin-top:5%;
    margin-left: 20%;
    height: 50%;
    width: 50%;

}

