<form method="post" action="/login/">
    <p>Create your login!</p>
    <input type="text" name="username-create" value="" placeholder="username" required><br>
    <input type="password" name="password-login" value="" placeholder="password" required><br>
    <button>Create login</button>
</form>
