<div class="container">
    <div class="text-center">
        <h1>Create snippet</h1>
        <div>
            <form class="form-create" action="/create" method="post">
                <label>Name your snippet:</label>
                <input type='text' class="snippet-name" name="name"/>
                <br>
                <textarea class="form-textarea" name="snippet"></textarea>
                <br>
                <button type="submit" class="btn btn-warning btn-lg">Save</button>
            </form>
        </div>
    </div>
</div>
