<div class="container">
    <div class="text-center">
        <h1>Really want to remove?</h1>
        <form class="" action="/delete/{{id}}" method="post">
            <input type="submit" name="name" value="YES!">
        </form>
    </div>
</div>
