<div class="container">
    <div class="text-center">
        <h1 class="display-3">Snippet saver</h1>
        <p class="lead">A simple CRUD-application letting you handeling snippets.</p>
        <hr class="my-2">
        <p>For all features please login.</p>
        <hr class="my-2">
        <p>Look at the snippets without a login.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/snippets" role="button">Show snippets</a>
        </p>
    </div>
</div>
