<div class="container">
    <div class="text-center">
        {{#if snippet}}
            <h1>{{this.name}}</h1>
            <dl>
                <textarea>{{this.snippet}}</textarea>
            </dl>
        {{/if}}
    </div>
</div>
